<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.AdvertisingMapper">
  <delete id="deleteAdvByIds" parameterType="list">
      delete from t_advertisiang where advId in
    (<foreach collection="list" index="index" item="item" separator=",">
          #{item.advId}
      </foreach>)
  </delete>
  <select id="queryAllAdvertising" resultType="cc.mrbird.system.domain.Advertising">
      select * from t_advertisiang
  </select>
</mapper>