<div data-th-include="system/advertising/advertisingAdd"></div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
		            </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportAdvertisingExcel()">
		                    Excel (.xlsx)
		                </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportAdvertisingCsv()">
		                    CSV (.csv)
		                </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="advertising:add,advertising:update,advertising:delete">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#advertising-add" shiro:hasPermission="advertising:add">新增广告</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateAdvertising()" shiro:hasPermission="advertising:update">修改广告</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteAdvertising()" shiro:hasPermission="advertising:delete">删除广告</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="advertising-table-form">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	广告名称：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="advName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	公司名称：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="compName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="advertisingTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/advertising/advertising.js}"></script>