<div class="card">
   <!-- <div data-th-include="system/user/userAdd"></div>-->
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />

                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="user-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 视频名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="movieName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 审核状态： </span>
                                    <div class="form-group">
                                        <select class="form-control" name="movieStatus">
                                            <option value="0" selected>所有</option>
                                            <option value="1">已通过</option>
                                            <option value="2">未通过</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="movieTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/user/movie.js}"></script>
